.aboutCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .first1 {
    width: 100%;
    max-width:20%;
    height: 500px;
    /* grid-template-columns: repeat(1, 1fr);  */
  
  }
  
  .middle {
    width: 10%;
  }
  
  .second2 {
    width: 100%;
    max-width: 20%; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }
  
  .second2 div {
    height: 200px; 
    width: 100%;
    max-width: 200px;
    background-color: #ccc; 
  }
  
  @media screen and (max-width: 768px) {
    .first1,
    .middle,
    .second2 {
      width: 100%; /* Set width to full width on smaller screens */
      max-width: none; /* Reset max-width */
    }
  
    .second2 {
      grid-template-columns: repeat(1, 1fr); /* Change to single column layout */
    }
  
    .second2 div {
      max-width: none; /* Reset max-width */
    }
    .middle {
      height: 0px;
    }
  }
  
  
  .nine1 h1 {
    position: absolute;
  }
  
  .nine1 p {
    position: absolute
  }