 .reviews {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 630px;
  }
  
  .thanks{
    width: 50%;
  }
  
  .thanks h2{
    color: rgb(189, 189, 189, 100);
  }
  
  .thanks .text{
    background-color: rgb(235, 235, 235, 100);
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
  }
  
  .text div{
    width: 80%;
  }